body {
  background-color: #fefefe;
}

.header {
  color: red;
}

.nav {
}

.nav__link {
}

.main {
}

.header__main {
  color: green;
}

.section {
}

.section__header {
  color: blue;
}

.section-article {
}
.section-article__header {
  color: orange;
}

.section-article__describe {
}

.footer {
}

.footer__picture {
  width: 150px;
  height: 150px;
}

.footer_describe{}