body {
  background-color: #fefefe;
  
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);

}

.header {
  color: red;
}

.nav {
  background-color: green;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.nav__link {
  display: inline-block;
  background-color: yellow;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  text-decoration: none;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.header__main {
  color: green;
}

.section {
  border: 2px solid green;
  margin: 5px;
  padding-left: 20px;
}

.section__header {
  color: blue;
}

.section-article {

}
.section-article__header {
  color: orange;
}

.section-article__describe {
}

.footer {
}

.footer__picture {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

.footer__describe {
}
