body{
    background-color: #fefefe;
}

.header{
    color:red;
}

.main{

}

.section{

}

.article{

}

.main-heading{
color: green;
}

.secondery-heading{
color:blue;
}

.special-heading{
color: red;
}

.link{

}
.describe{}

.nav{

}

.picture{
    width: 200px;
    height: 200px;
}

.footer{

}